<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>信息录入</string>
		<key>list</key>
		<array>
			<string>新增药品</string>
			<string>新增病区</string>
			<string>新增用药记录</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>查看信息</string>
		<key>list</key>
		<array>
			<string>查看所有药品信息</string>
			<string>查看所有用药记录</string>
			<string>查看各病区用药记录</string>
		</array>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>信息修改</string>
			<string>导出数据</string>
			<string>清空所有</string>
		</array>
		<key>name</key>
		<string>设置</string>
	</dict>
</array>
</plist>
